/* common */

._all-width {
    width: 100%;
}

/* end common */

._nav {
    background-color: #2c3e50;
}

._jumbotron, ._about {
    background-color: #1abc9c;
}

._jumbotron img.avatar {
    width: 15%;
}

._mt-72 {
    margin-top: 72px;
}

._line-w {
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

._line-b {
    width: 100px;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

._btn-green {
    background-color: #1abc9c;
    color:white;
}

._btn-trasparent {
    color: #fff;
    border-color: #fff;
  }

  ._green {
    color: #1abc9c;      
  }




._location {
    background-color: #3a546d;
}

footer {
    background-color: #2c3e50;
}

