._nav {
    background-color: #2c3e50;
}

._jumbotron, ._about {
    background-color: #1abc9c;
}

/* main */

._location {
    background-color: #3a546d;
}

footer {
    background-color: #2c3e50;
}










/* debug */


.container {
    /* background-color: crimson; */
    border: 1px solid blue;
}

/* .row {
    background-color: blue;
} */



[class*="col"] {
    background-color: brown;
    height: 5rem;
    border: 1px solid black;
    /* margin: 2rem; */
} 